{% extends 'base/base.html' %}
{% block page_content %}

        <!-- Profile Page -->
        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{  profile.name }}</h3>
                <p class="img"><img src="{{ profile.profile_img}}" alt="{{ profile_str }}"></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit profile' %}">Edit</a>
                    <a class="button" href="{% url 'delete profile' %}">Delete</a>
                </div>
            </div>
        </section>

{% endblock %}